:root {
  --text-grey-100: #ccc;
  --text-grey-200: #a09c9ce9;
  --text-grey-300: #4444449a;
  --text-grey-variant: #666;

  --text-main: hsla(0, 0%, 80%, 0.8);

  --text-pri-100: ;
  --text-pri-200: ;
  --text-sec-100: #A462FF;
  --text-sec-200: #7200f7;


  --header-bg: rgba(255, 255, 255, 0.1);
  --body-bg: rgba(0, 0, 0, 0.8);
  --footer-bg: rgb(12, 12, 12);
  --btn-bg: #eee;
  --variant-bg: rgba(82, 82, 82, 0.1);

  --br-clr: rgba(255, 255, 255, .2);
  --br-clr-200: #ccc;

  --white-clr: #eee;
  --dark-clr: #222;
  --icons-clr: #a8b2d1;
}