@use "../abstracts/index" as *;


.wrapper .product-section {
   position: relative;

   .pseudo-element {
      position: absolute;
      top: 1rem;
      width: 45%;
      height: min(260px, 50%);
      border-left: 1px solid var(--br-clr-200);
   }


   .even-columns {
      margin: $pad-600 0 $pad-200;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: $pad-800;
   }

   .column-1 {
      margin-left: 4em;
      @include flex-column();
      justify-content: flex-start;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         width: 2px;
         height: 100%;
         background: var(--text-sec-200);
         top: 0;
         left: -0.7em;
         z-index: 1;
      }

      li {
         position: relative;
         color: var(--text-grey-variant);
         color: #525252;
         font-size: $fs-500;
         font-family: $ff-primary-header;

         &::before,
         &::after {
            content: "";
            position: absolute;
            background: var(--text-sec-200);
            top: 50%;
            transform: translateY(-50%);
         }

         &::before {
            width: 8px;
            height: 8px;
            left: -0.63em;
            z-index: 2;
            border-radius: $br-round;
         }

         &::after {
            width: 3rem;
            height: 1px;
            left: -2.7em;
         }


      }

      li:first-of-type {
         color: var(--text-grey-100);
         color: #C6C6C6;
         text-decoration: underline;
      }
   }

   .column-2 {
      margin-inline: $pad-200;
      gap: $pad-500;

      .content {
         min-height: 120px;
         padding: $pad-300 $pad-400;
         background: rgba(82, 82, 82, 0.1);
         color: var(--text-grey-100);
         border-radius: $br-light;
         border: 1px solid transparent;
         border-left-width: 2px;
         border-bottom-width: 2px;
         border-left-color: var(--br-clr);
         border-bottom-color: #575252;
      }


      .connect-btn {
         margin: $pad-200 auto;
      }
   }

}

@mixin product-section-laptop {
   .wrapper .product-section {

      .pseudo-element {
         height: 100%;
         border: 1px solid var(--br-clr-200);
         border-right-color: transparent;
         border-radius: $br-light 0 0 $br-light;
      }


      .even-columns {
         margin: $pad-700 5em;
         grid-template-columns: 1.5fr 1fr;
         gap: $pad-400;
      }

      .column-1 {
         margin-left: 0;

         li {
            font-size: $fs-600;

            &::before {
               left: -0.4em;
            }

            &::after {
               width: 4rem;
               left: -2.2em;
            }
         }
      }

      .column-2 {
         margin-inline: 0;
      }
   }
}